@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300,300italic);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #4cb6de;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 30px;
}

.content {
  position: relative;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 20px;
  z-index: 10;
}
.content::before {
  content: "„";
  font-family: Arial;
  position: absolute;
    top: -270px;
    left: -25px;
  font-size: 250px;
  color: #6AC2E3;
  z-index: -1;
}
i {
  font-size: 20px;
  color: #fff;
  font-style: italic;
}
.tooltip-trigger {
  cursor: pointer;
  background-color: #286f8a;
  padding: 0px 6px;
}

.tooltip-card {
  width: 300px;
  position: absolute;
  top: -60px;
  left: 25px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #286f8a;
}
.tooltip-card::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 20px;
  height: 20px;
  background: linear-gradient(45deg, #286f8a 50%, transparent 50%);
  transform: translate(-50%, 50%) rotate(-45deg);
}
.tooltip-title {
  display: inline-block;
  width: calc(100% - 40px);
  color: #286f8a;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 5px 20px;
}
.tooltip-body {
  display: inline-block;
  width: 100%;
  width: calc(100% - 40px);
  color: #fff;
  padding: 5px 20px;
}




