@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);

:root {
	--speed: 3s;
}

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	background: #57d895;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28404e', endColorstr='#1c2e38',GradientType=0 );
	color: #fff;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-transform: uppercase;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	transform: translate(-50%, -50%);
}


.box-shadow {
	position: absolute;
	top: 70%;
	left: 50%;
	width: 40px;
	height: 10px;
	border-radius: 50%;
	background-color: #888888a4;
	transform: translateX(-50%);
	animation: shadow var(--speed) linear infinite;
}
@keyframes shadow {
	0%, 100% {
		width: 40px;
		height: 10px;
	}
	50% {
		width: 50px;
		height: 12px;
	}
}

.pointer {
	position: absolute;
	top: 30%;
	left: 44%;
	transform: rotate(-45deg) scale(3);
	animation: pointer var(--speed) linear infinite;
}
@keyframes pointer {
	0%, 100% {
		transform: translateY(0px) rotate(-45deg) scale(3);
	}
	50% {
		transform: translateY(25px) rotate(-45deg) scale(3);
	}
}
