@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	background: #e16d6b;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28404e', endColorstr='#1c2e38',GradientType=0 );
	color: #fff;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-transform: uppercase;
}

.text-top,
.text-middle,
.text-bottom {
	position: absolute;
}

.text-top {
	top: 40%;
	left: 50%;
	font-size: 30px;
	transform: translate(-50%, -50%);
	animation: text-top 0.7s ease-out;
	opacity: 1;
}
.text-bottom {
	top: 60%;
	left: 50%;
	font-size: 30px;
	transform: translate(-50%, -50%);
	animation: text-bottom 0.7s ease-out;
	opacity: 1;
}
.text-middle {
	top: 50%;
	left: 50%;
	font-size: 50px;
	font-weight: 900;
	transform: translate(-50%, -50%) scale(1);
	animation: text-middle 0.5s ease-out;
	opacity: 1;
}

@keyframes text-top {
	0% {
		opacity: 0;
		transform: translate(-65%, -50%);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}
@keyframes text-bottom {
	0% {
		opacity: 0;
		transform: translate(-35%, -50%);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}
@keyframes text-middle {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

.line-left {
	width: 6px;
	height: 130px;
	position: absolute;
	top: 50%;
	left: 50px;
	background-color: #fff;
	transform: translateY(-50%) scaleY(1);
	animation: line-left 1s ease-out;
}
.line-right {
	position: absolute;
	top: 50%;
	right: 50px;
	width: 6px;
	height: 130px;
	background-color: #fff;
	transform: translateY(-50%) scaleY(1);
	animation: line-right 1s ease-out;
}

@keyframes line-left {
	0% {
		transform: translateY(-50%) scaleY(0);
	}
	100% {
		transform: translateY(-50%) scaleY(1);
	}
}
@keyframes line-right {
	0% {
		transform: translateY(-50%) scaleY(0);
	}
	100% {
		transform: translateY(-50%) scaleY(1);
	}
}

.line-left::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 6px;
	background-color: #fff;
	transform: scaleX(1);
	animation: line-decorate 1s ease-out 1s forwards;
	opacity: 0;
}
.line-left::after {
	content: "";
	position: absolute;
	top: 130px;
	left: 0;
	width: 40px;
	height: 6px;
	background-color: #fff;
	transform: scaleX(1);
	animation: line-decorate 1s ease-out 1s forwards;
	opacity: 0;
}
.line-right::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 6px;
	background-color: #fff;
	transform: scaleX(1);
	animation: line-decorate 1s ease-out 1s forwards;
	opacity: 0;
}
.line-right::after {
	content: "";
	position: absolute;
	top: 130px;
	right: 0;
	width: 40px;
	height: 6px;
	background-color: #fff;
	animation: line-decorate 1s ease-out 1s forwards;
	opacity: 0;
}

@keyframes line-decorate {
	0% {
		opacity: 0;
		width: 0px;
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		width: 40px;
	}
}


.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	animation: circle 1s ease-in-out;

	svg {
		width: 60px;
		height: 60px;
	}
	circle {
		fill: #fff;
	}
}

@keyframes circle {
	0% {
		transform: translate(-50%, -50%) scale(2);
	}
	20%, 
	60% {
		transform: translate(-50%, -50%) scale(2.5);
	}
	100% {
		transform: translate(-50%, -50%) scale(0);
	}
}
