@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	background: #57d895;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28404e', endColorstr='#1c2e38',GradientType=0 );
	color: #fff;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-transform: uppercase;
}


#checkbox {
	display: none;
}
.label {
	width: 260px;
	height: 60px;
	display: block;
	color: #fff;
	font-size: 24px;
	text-align: center;
	line-height: 60px;
	border: 2px solid #fff;
	border-radius: 33px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.6s;

	&:hover {
		background-color: #37be77;
		box-shadow: 0 0 5px #098344;
	}
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}








